@tailwind base;
@tailwind components;
@tailwind utilities;

.app-bar {
  @apply w-full h-16 z-30 bg-appBarBg border-b p-2 border-neutral-200 flex flex-row justify-between items-center;
  box-shadow: 0 3px 30px -1px rgba(50, 50, 71, 0.05);
}

.heading-title {
  @apply text-lg font-bold text-neutral-900;
}

.character-details-card {
  @apply w-full p-2 flex flex-row justify-between items-center border border-neutral-400 bg-questionCardBg rounded-lg hover:shadow-2xl z-30 mt-2 text-sm;
  box-shadow: 0 3px 8px -1px rgba(50, 50, 71, 0.05), 0 0 1px rgba(12, 26, 75, 0.24);
}

.card-title {
  @apply text-lg font-semibold;
}

.location-details-card {
  @apply flex flex-col gap-1 border border-neutral-400 p-2 bg-questionCardBg rounded-lg hover:shadow-2xl z-30 mt-2 text-sm;
  box-shadow: 0 3px 8px -1px rgba(50, 50, 71, 0.05), 0 0 1px rgba(12, 26, 75, 0.24);
}

.start-justified-row {
  @apply flex flex-row justify-start items-center;
}

.start-justified-col {
  @apply flex flex-row justify-start items-center;
}

.circular-avatar-bordered {
  @apply rounded-full border-textAreaBorder border-2;
}
